<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.admin.mapper.OsaCreateroleLogMapper">
  <resultMap id="BaseResultMap" type="com.lyh.admin.model.OsaCreateroleLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="world_id" jdbcType="VARCHAR" property="worldId" />
    <result column="user_ip" jdbcType="VARCHAR" property="userIp" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, world_id, user_ip, time, open_id, role_name, add_time, app_id
  </sql>
  <select id="selectByExample" parameterType="com.lyh.admin.model.OsaCreateroleLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from osa_createrole_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from osa_createrole_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from osa_createrole_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lyh.admin.model.OsaCreateroleLogExample">
    delete from osa_createrole_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lyh.admin.model.OsaCreateroleLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into osa_createrole_log (world_id, user_ip, time, 
      open_id, role_name, add_time, 
      app_id)
    values (#{worldId,jdbcType=VARCHAR}, #{userIp,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{openId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{addTime,jdbcType=VARCHAR}, 
      #{appId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lyh.admin.model.OsaCreateroleLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into osa_createrole_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="worldId != null">
        world_id,
      </if>
      <if test="userIp != null">
        user_ip,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="appId != null">
        app_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="worldId != null">
        #{worldId,jdbcType=VARCHAR},
      </if>
      <if test="userIp != null">
        #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lyh.admin.model.OsaCreateroleLogExample" resultType="java.lang.Long">
    select count(*) from osa_createrole_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update osa_createrole_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.worldId != null">
        world_id = #{record.worldId,jdbcType=VARCHAR},
      </if>
      <if test="record.userIp != null">
        user_ip = #{record.userIp,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.openId != null">
        open_id = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.roleName != null">
        role_name = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=VARCHAR},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update osa_createrole_log
    set id = #{record.id,jdbcType=BIGINT},
      world_id = #{record.worldId,jdbcType=VARCHAR},
      user_ip = #{record.userIp,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      open_id = #{record.openId,jdbcType=VARCHAR},
      role_name = #{record.roleName,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=VARCHAR},
      app_id = #{record.appId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lyh.admin.model.OsaCreateroleLog">
    update osa_createrole_log
    <set>
      <if test="worldId != null">
        world_id = #{worldId,jdbcType=VARCHAR},
      </if>
      <if test="userIp != null">
        user_ip = #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lyh.admin.model.OsaCreateroleLog">
    update osa_createrole_log
    set world_id = #{worldId,jdbcType=VARCHAR},
      user_ip = #{userIp,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>